[submodule "bundle/endwise.vim"]
	path = bundle/endwise.vim
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/fugitive.vim"]
	path = bundle/fugitive.vim
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/markdown.vim"]
	path = bundle/markdown.vim
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/rails.vim"]
	path = bundle/rails.vim
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/ruby.vim"]
	path = bundle/ruby.vim
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/surround.vim"]
	path = bundle/surround.vim
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/repeat.vim"]
	path = bundle/repeat.vim
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/rspec.vim"]
	path = bundle/rspec.vim
	url = https://github.com/thoughtbot/vim-rspec.git
[submodule "bundle/syntastic.vim"]
	path = bundle/syntastic.vim
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/bundler.vim"]
	path = bundle/bundler.vim
	url = https://github.com/tpope/vim-bundler.git
[submodule "bundle/tComment.vim"]
	path = bundle/tComment.vim
	url = https://github.com/vim-scripts/tComment.git
[submodule "bundle/sleuth.vim"]
	path = bundle/sleuth.vim
	url = https://github.com/tpope/vim-sleuth.git
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "bundle/vim-vinegar"]
	path = bundle/vim-vinegar
	url = git://github.com/tpope/vim-vinegar.git
[submodule "bundle/ayu-vim"]
	path = bundle/ayu-vim
	url = git@github.com:ayu-theme/ayu-vim.git
