[submodule "bundle/endwise.vim"]
	path = bundle/endwise.vim
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/markdown.vim"]
	path = bundle/markdown.vim
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/ruby.vim"]
	path = bundle/ruby.vim
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/surround.vim"]
	path = bundle/surround.vim
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/repeat.vim"]
	path = bundle/repeat.vim
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/rspec.vim"]
	path = bundle/rspec.vim
	url = https://github.com/thoughtbot/vim-rspec.git
[submodule "bundle/sleuth.vim"]
	path = bundle/sleuth.vim
	url = https://github.com/tpope/vim-sleuth.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "bundle/ayu-vim"]
	path = bundle/ayu-vim
	url = git@github.com:ayu-theme/ayu-vim.git
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = git@github.com:Yggdroot/indentLine.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-jsx-typescript"]
	path = bundle/vim-jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript.git
[submodule "pack/plugins/start/ayu-vim"]
	path = pack/plugins/start/ayu-vim
	url = https://github.com/ayu-theme/ayu-vim.git
[submodule "pack/plugins/start/vim-graphql"]
	path = pack/plugins/start/vim-graphql
	url = https://github.com/jparise/vim-graphql.git
[submodule "pack/plugins/start/vim-endwise"]
	path = pack/plugins/start/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "pack/plugins/start/vim-bundler"]
	path = pack/plugins/start/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "pack/plugins/start/vim-ruby"]
	path = pack/plugins/start/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "pack/plugins/start/vim-rails"]
	path = pack/plugins/start/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "pack/plugins/start/vim-rake"]
	path = pack/plugins/start/vim-rake
	url = git://github.com/tpope/vim-rake.git
[submodule "pack/plugins/start/vim-projectionist"]
	path = pack/plugins/start/vim-projectionist
	url = git://github.com/tpope/vim-projectionist.git
[submodule "pack/plugins/start/vim-abolish"]
	path = pack/plugins/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "pack/plugins/start/vim-javascript"]
	path = pack/plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/plugins/start/vim-vue"]
	path = pack/plugins/start/vim-vue
	url = https://github.com/storyn26383/vim-vue.git
[submodule "pack/plugins/start/vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/plugins/start/vim-css3-syntax"]
	path = pack/plugins/start/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "pack/plugins/start/scss-syntax"]
	path = pack/plugins/start/scss-syntax
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "pack/plugins/start/typescript-vim"]
	path = pack/plugins/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/plugins/start/fzf.vim"]
	path = pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
